
<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center">Sign up</h2>
    <hr>
    <div class="mb-3 form-floating">
        <input type="text"
        class="form-control"
        name="username"
        [(ngModel)]="model.username"
        placeholder="Username">

        <label for="username">Username</label>
        
    </div>

    <div class="mb-3 form-floating">
        <input type="password"
        class="form-control"
        name="password"
        [(ngModel)]="model.password"
        placeholder="Password">

        <label for="password">Password</label>
    </div>

    <div class="form-group m-2">
        <button type="submit" class="btn btn-dark me-2">Register</button>
        <button (click)="cancel()" class="btn btn-light">Cancel</button>        
    </div>
</form>